# Node modules (installed dependencies)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Logs
logs
*.log
logs/*.log
npm-debug.log
debug.log
error.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test
.env*.local

# OS files
.DS_Store
Thumbs.db

# Editor/IDE settings
.vscode/
.idea/
*.swp

# Build files
dist/
build/
tmp/
out/

# Database files
*.sqlite
*.sqlite3
*.db
*.db-wal
*.db-shm
*.log

# Misc
coverage/
.nyc_output/
